body {background-color: yellow;}
.a-great-style {
    background-color:red;
    font-family:impact;
  }

.p1 {
    font-size:21px;
    background-color: black;
    color: white;

}

.p2 {
    font-size: 27px;
    background-color: white;
    color: black;

}
.redtext{
    color: red;
}
